{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "globals": {
    "graphql": true
  },
  "rules": {
    "react/jsx-filename-extension": [0],
    "react/prefer-stateless-function": [0],
    "react/prop-types": [0],
    "import/no-extraneous-dependencies": [0],
    "comma-dangle": ["error", "never"],
    "jsx-a11y/anchor-is-valid": [0],
    "prefer-destructuring": [0],
    "object-curly-newline": ["error", { "multiline": true, "minProperties": 5 }],
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": [2, "as-needed"],
    "function-paren-newline": [0],
    "no-useless-escape": [0],
    "import/extensions": [0],
    "no-console": "off",
    "quotes": ["error", "double", { "allowTemplateLiterals": true }]
  }
}
