/** 
 * Episodes 
 */

.episodes {
  &__pagination {
    font-size: 1rem;
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    text-align: center;
    padding-bottom: 55px;
  }
  &__pag-button {
    display: inline-block;
    margin-left: 55px;
    margin-right: 55px;
    max-width: 90px;
    font-size: $typographic-base-font-size;
    padding: 0 16px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: lighten($color-base, 20%);
    background: $color-gray-bg;
    font-weight: 400;
    border-radius: 3px;
    @include margin-top(1);
    &:hover,
    &:focus {
      color: $color-base;
      background: darken($color-gray-bg, 5%);
      border: 0;
    }
  }
}
